@use "../../../styles/variables" as colours;

.detail-view {
}

.detail-section {
  background-color: colours.$purple-dark;
  padding: 1.5rem;
  border-radius: 5px;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 1.5rem;

  .detail-grid {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 1rem;

    .detail-grid-item {
      display: grid;
      grid-auto-columns: 1fr;
      column-gap: 5rem;
      grid-auto-flow: column;
    }
  }
}

.button {
  border: none;
  border-radius: 5px;
  background-color: colours.$purple-light;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s;

  &:hover {
    color: colours.$white;
  }
}
