@use "./styles/variables" as colours;

.app {
  height: 100dvh;
  width: 100dvw;
  background-color: colours.$purple;
  color: colours.$white;
  display: flex;
  justify-content: center;
  align-items: center;

  &.light {
    background-color: colours.$white;
    color: colours.$purple-dark;
  }
}
